@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+FR+Moderne:wght@100..400&display=swap');
h1 {
  font-family: "Playwrite FR Moderne", cursive
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

body {
  background: cornflowerblue;
  padding: 20px;
}

img {
  width: 240px;
  margin: 24px;
}
